@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&family=Noto+Serif:wght@400;500;700&display=swap');

body {
    font-family: "Noto Serif", serif;
    line-height: 1.4;
    font-size: 16px;
    padding: 0 10px;
    margin: 50px auto;
    max-width: 650px;
}

h1, h2 {
    font-family: "Noto Sans", sans-serif;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.17em;
}

#maincontent {
    margin: 15px auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.footer-img {
    max-width: 150px;
    margin-top: 40px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: #fff;
    }
    
    a {
        color: #4493f8;
    }
    
    img {
        filter: invert(1);
    }
}