body {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4;
    font-size: 16px;
    padding: 0 10px;
    margin: 50px auto;
    max-width: 650px;
}

h1 {
    font-size: 1.5em;
}

#maincontent {
    margin: 15px auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.footer-img {
    width: 150px;
    margin-top: 40px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: #fff;
    }
    
    a {
        color: #4493f8;
    }
    
    img {
        filter: invert(1);
    }
}